.navbar.navbar-dark {
    background: #757575;
    background: -moz-linear-gradient(top, #757575 0%, #343a40 100%); 
    background: -webkit-linear-gradient(top, #757575 0%,#343a40 100%); 
    background: linear-gradient(to bottom, #757575 0%,#343a40 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#757575', endColorstr='#343a40',GradientType=0 ); 
    box-shadow: -3px 2px 4px rgba(0, 0, 0, 0.25882352941176473);

    .navbar-brand {
      color: #000;
      text-shadow: 1px 1px 0px #ffffff6e;
      transition: all 0.4s ease;
      &:hover,
      &:focus {
        color: #ffffff26;
      }
    }
}


